body {
  font-family: 'Exo', sans-serif;
}

main {
  margin: 0 auto;
  max-width: 1280px;
}

/* Header */
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  color: #6cd7af;
  margin-bottom: 0;
}

@media (min-width: 601px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
  }

  .logo {
    margin: 0;
  }
}

/* Fim Header */

/* Input Search */
.input-search {
  align-items: center;
  display: flex;
  margin: 10px 0;
  position: relative;
  width: 90%;
}

.input-search__icon {
  left: 15px;
  opacity: .3;
  position: absolute;
}

.input-search__field {
  border: 1px solid #CACACA;
  border-radius: 50px;
  height: 42px;
  outline: none;
  padding: 0 15px 0 40px;
  width: 100%;
}

@media (min-width: 601px) {
  .input-search {
    width: 40%;
  }
}

/* Fim Input Search */

/* Card */
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card {
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  display: flex;
  font-size: 0.75em;
  margin: 5px;
  width: 94%;
}

.card-img {
  height: 120px;
  margin: 0;
  width: 120px;
}

.card-img__user {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  height: 120px;
  width: 120px;
}

.card-details__text {
  margin: 8px;
}

.card-details__text--detach {
  font-size: 1.5em;
  font-weight: bold;
  margin: 8px;
}

.card-details__icon {
  opacity: .3;
  padding-right: 4px;
  text-align: center;
  width: 20px;
}

@media (min-width: 601px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    align-items: center;
    flex-direction: column;
    margin: 20px 1%;
    width: 31%;
  }

  .card-img {
    margin: 10px 0;
  }

  .card-img__user {
    border-radius: 50%;
  }

  .card-details__text {
    text-align: center;
  }

  .card-details__icon {
    padding-right: unset;
  }
}

@media (min-width: 981px) {
  .card {
    font-size: 1em;
    width: 23%;
  }
}

/* Fim Card */
